.error-message {
    color: red;
    font-size: 12px;
}

.error-msg-profile {
    text-align: center;
    font-size: 12px;
    color: red;
}

/* =========================== */
/* =======  Login.js  ======== */
/* =========================== */
.loginBox {
    /* 元素顶部和底部的外边距为 120 像素，元素水平居中对齐，元素底部和下一个兄弟元素之间的外边距为 120 像素 */
    margin: 120px auto 120px;
    max-width: 450px;
}

.storeLoginInfo {
    align-items: baseline;
    padding-bottom: 5px;
    margin-left: 30px;
    color: #70C6F5;
    display: flex;
}

.storeLoginInfo span {
    margin-left: 5px;
    font-size: 14px;
}

.loginButton {
    margin-left: 62px;
    width: 36%;
}

/* =========================== */
/* =======  Profile.js  ======= */
/* =========================== */
.profileBox { /* 白底灰阴影外框 */
    margin: 50px auto 50px;
    max-width: 750px;
}

.profileContainer { /* 内部 table */
    padding: 10px 0 10px 50px;
    overflow-y: auto; /* 设置垂直滚动条 */
    height: 500px; /* 容器高度 */
}

.updateContainer { /* 同上，但用于 ProfileEdit.js */
    padding: 10px 0 10px 50px;
}

.profile-left-content1 { /* 不可编辑的内容 */
    text-align: left;
    vertical-align: top;
    padding-top: 23px;
    color: slateblue;
}

.profile-left-content2 { /* 可编辑的内容 */
    text-align: left;
    color: slateblue;
}

.profile-right-content1 { /* 不可编辑的内容 */
    margin-bottom: 28px;
    text-align: center;
    color: green;
}

.profile-right-content2 { /* 可编辑的内容 */
    margin: 12px 36px 12px 36px;
    text-align: center;
}

/* =========================== */
/* ======  Employee.js  ====== */
/* =========================== */
.employeeBox {
    margin: 90px auto 90px;
    max-width: 630px;
}

.empLeftText {
    padding: 10px 0 10px 45px;
    text-align: left;
    color: slateblue;
}

.empRightText {
    padding: 10px 0 10px 0;
    text-align: center;
    color: green;
}

/* =========================== */
/* ========  Cart.js  ======== */
/* =========================== */
.assetTitle {
    text-align: center;
    color: slateblue;
    padding-top: 33px;
}

.box {
    justify-content: space-between;
    align-items: center; /* 元素内部子元素将在交叉轴（cross axis）上居中对齐 */
    flex-direction: row;
    border: transparent;
    font-weight: bold;
    color: slateblue;
    max-width: 1100px;
    min-width: 750px;
    display: flex;
    margin: auto;
    /*height: 60px;*/
}

.boxLeft {
    text-align: left;
}

.boxRight {
    text-align: right;
}

.cartTableWrapper { /* 产品 table */
    box-shadow: 0 0 5px 5px rgba(106, 90, 205, 0.9);
    max-height: fit-content;
    max-width: fit-content;
    margin: 25px auto auto;
    overflow-y: scroll;
    height: 666px;
}

.tableColumn {
    text-align: center;
}

.tableColumn tr {
    border: 2px solid slateblue;
}

.tableColumn td {
    margin: 0 20px;
    padding: 10px 25px;
}

.cartTail {
    justify-content: center;
    align-items: center;
    display: flex;
}

.cartTail button {
    margin: 55px 75px 90px 75px;
}

/* =========================== */
/* ======  CartItem.js  ====== */
/* =========================== */
.description { /* Item 的说明包含多行，因此需要用这个布局 */
    text-align: left;
    margin-left: -40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn1 {
    color: white;
    background-color: #70C6F5;
}

.btn2 {
    color: black;
    background-color: #1ADBE5;
}

/* =========================== */
/* =====  OrderStatus.js  ==== */
/* =========================== */
.orderStatusText {
    margin: 75px 0 60px 120px;
    font-weight: bold;
    font-size: large;
    color: slateblue;
}

.orderStatusText h4 {
    text-align: center;
    margin-right: 10%;
    color: #222222;
}

.orderWrapper { /* 产品 table */
    box-shadow: 0 0 5px 5px rgba(106, 90, 205, 0.9);
    margin: 25px auto auto;
    max-width: fit-content;
    max-height: 420px;
    min-height: 150px;
    overflow-y: scroll;
}

.orderWrapper tr {
    height: 40px;
    width: 125px;
}

.orderWrapper th:nth-child(1) { width: 150px; }
.orderWrapper th:nth-child(2) { width: 175px; }
.orderWrapper th:nth-child(3) { width: 120px; }
.orderWrapper th:nth-child(4) { width: 245px; }
.orderWrapper th:nth-child(5) { width: 120px; }
.orderWrapper th:nth-child(6) { width: 120px; }
